/*************************  Basic Page CSS *************************/
body {
    background-color: white;
    font-family: "Verdana", sans-serif;
    font-weight: 300;
    font-size: 1.5em;
    position: relative;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
    margin: 0;
}
img{
    max-width: 200px;
}

/*************************  Header Navigation *************************/
header{
    margin: 0;
    padding: 0;
}
header .navbar{
    padding: 10px 0;
    transition: all .5s ease-out;
}
header .navbar-default{
    background:black;
    background-color:transparent;
    border:none;
}
header .navbar-default .navbar-nav a {
    font-weight: 600;
    color: white;
    text-shadow: none;
    padding: 5px 8px;
    max-width: 200px;
}
header .navbar-default .navbar-nav .active a {
    font-weight: 700;
    color: white;
    text-shadow: none;
    background: transparent;
    border-bottom: 4px solid white;
}
header .navbar-default .navbar-nav a:hover {
    font-weight: 600;
    color:rgb(40,23,69);
    text-shadow: none;
}
header .navbar-default .navbar-nav .active a:hover {
    font-weight: 700;
    color:rgb(40,23,69);
    background: transparent;
    text-shadow: none;
}
header .navbar-default .navbar-nav .mysearchbox{
    color: white;
    max-width: 200px;
    padding: 0px 5px;
    vertical-align: middle;
    margin-right: 15px;
}
header .navbar-default .navbar-nav .mysearchbox input{
    border-right-style:none;
    vertical-align: middle; 
}
header .navbar-default .navbar-nav .mysearchbox span{
    background-color: white;
}

/*************************  Navbar Toggle *************************/
header .navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}
 /*It changes the configuration when the navbar menu changes for a toggle button*/
@media (max-width: 1280px) {
    header .navbar-header {
        float: none;
    }
    header .navbar-left,.navbar-right {
        float: none !important;
    }
    header .navbar-toggle {
        display: block;
        background-color: rgb(40,23,69);
    }
    header .navbar-collapse {
        background-color: rgba(20, 98, 93, .9);
    }
    header .navbar-collapse.collapse {
        display: none!important;
    }
    header .navbar-nav {
        float: none!important;
    }
    header .navbar-nav>li {
        float: none;
    }
    header .collapse.in{
        display:block !important;
    }
}

/*************************  Navbar Brand *************************/
header .navbar-brand {
    background: url(../images/Pandora_Banner_Dark_240x99.jpg);
    background-repeat: no-repeat;
    background-position: 10px 0;
    height: 100px;
    width: 240px;
}
header .navbar-brand span.subhead {
    display: block;
}

/*************************  NavBar inbody *************************/

header .inbody {
    /*background: rgba(40,23,69, .9);*/
    background: rgba(20, 98, 93, .9);
}
header .navbar.inbody {
    padding-top: 0;
    padding-bottom: 0;
}
header .navbar.inbody .navbar-nav {
    padding-top: 10px;
}
header .inbody .navbar-brand {
    background-size: 100px;
    background-position: top left;
    margin-top: 5px;
    margin-left: 5px;
    padding-bottom: 0;
    height: 50px;
}

/*************************  Carousel Fade *************************/
.carousel.fade {
    opacity: 1;
    margin: 0;
}
.carousel.fade .item {
    transition: opacity ease-out .7s;
    left: 0;
    opacity: 0;
    top: 0;
    position: absolute;
    width: 100%;
    display: block;
}
.carousel.fade .item:first-child {
    top: auto;
    opacity: 1;
    position: relative;
}
.carousel.fade .item.active {
    opacity: 1;
}
.carousel-control {
    opacity: 0;
}
.carousel-control.right,
.carousel-control.left {
    background-image: none;
}

/*************************  Page *************************/
.page {
    padding: 50px 0;
}
.page h2 {
    text-align: center;
    margin-bottom: 30px;
}

/*************************  Page -- About *************************/
#about {
    /*border-top: 30px solid rgba(82, 52, 79, .5);*/
    /*border-top: 50px solid rgba(138, 140, 50, .5);*/
    /*border-top: 50px solid rgba(102, 110, 27, .5);*/
    margin-right: 0px;
    border-top: 50px solid rgba(20, 98, 93, .9);
    background-color: white;
    /*background-image: linear-gradient(to bottom, rgba(19, 60, 97, .5), rgba(40, 23, 69, .9));*/
    background-image: linear-gradient(to bottom, rgba(138, 140, 50, .5), rgba(20, 98, 93, .9));
}

/*************************  Page -- news_resources_information *************************/
#news_resources_information{
    background:url(../images/Toi Ohomai_Constellation_1920x1080.png) no-repeat center center;
    background-size: cover;
}
#news_resources_information img.icon{
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    max-height: 100px;
}
#news_resources_information .newsblock:hover{
    background-color: rgba(45,98,143,0.2);
}
#news_resources_information .content h2 {
    color:rgba(40,23,69, 1);
    font-weight: 400;
 }
/*It centers titles and text in big displays*/
@media only screen 
and (min-width: 992px){
    .newsblock h3,p{
        margin: 20px 20px;
        text-align: center;
        vertical-align: initial;
    }
    .newsblock img{
        vertical-align: initial;
    }
}
/*It lefts titles and text in medium displays*/
@media only screen 
and (min-width: 768px)
and (max-width: 991x) {
    .newsblock h3,p{
        margin: 10px 10px;
        text-align: left;
        vertical-align: middle;
    }
    .newsblock img{
        vertical-align: middle;
    }
}
/*It centers titles and text in small displays*/
@media only screen 
and (min-width: 0px)
and (max-width: 767px) {
/*It reduces the lenght of the text lines when the display is small*/
    .newsblock p {
        padding: 0 10%;
    }
    .newsblock h3,p{
        margin: 10px 10px;
        text-align: center;
        vertical-align: initial;
    }
    .newsblock img{
        vertical-align: initial;
    }
}

/*************************  Footer Navigation *************************/
footer .container-fluid{
    /*background:rgb(40,23,69);*/
    background: rgba(20, 98, 93, .9);
    padding: 10px 10px;
}
footer .navbar-default{
    /*background:rgb(40,23,69);*/
    background: rgba(20, 98, 93, .9);
    background-color:transparent;
    border: none;
    padding: 10px 10px;
}
footer .navbar{
    border: none;
}
footer .navbar-default .navbar-nav a {
    color: white;
    padding: 5px 8px;
    text-shadow: none;
}
footer p{
    color:white;
    text-align: left;
}
footer .content a{
    color:white;
    text-align: left;
    font-style: italic;
}

